node_modules/
.env
dist/
build/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
frontend/dist/
frontend/node_modules/
api-gateway/node_modules/
user-service/node_modules/
product-service/node_modules/
order-service/node_modules/
payment-service/node_modules/
